@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family:android ;
    src: url(fontes/idroid.otf) format(opentype);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #4545b9bb;
}
/*ESTILOS DE TEXTO*/
main > article > h1, h2{
    font-family: 'android';
}
h1{
    color: #5f9ea0;
}
#title{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: #000;

}
p{
    font-family:'Poppins', sans-serif;
}
a{
    font-family: 'Poppins', sans-serif;
}
.header{
    margin-right: 50px;
    color: #ffffff;
    text-decoration: none;
}
strong{
    color: #004cfc;
}
abbr{
    text-decoration:underline;
}
footer{
    font-family: 'Poppins', sans-serif;
}
li{
    font-family: 'Poppins', sans-serif;
}
h2{
    background-image: linear-gradient(to right, #3D6AD4, transparent);
    text-indent: 10px;
}
h3{
    font-family: 'Poppins', sans-serif;
    background-color: #004cfc;
    margin: -15px -15px 0px -15px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 5px;
}
.external{
    color: #004cfc;
}
.external:visited{
    color: #3A90C9;
}
.external:hover{
    color: #3D6AD4;

}
/*ESTILO DE CAIXAS*/
header{
    background-image: linear-gradient(to top, #3D6AD4, #3A90C9);
    text-align: center;
}
nav{
    background-color: #004cfc;
    padding-top: 5px;
    height: 30px;
    margin-right: 300px;
}
main{
    background-color: #fff;
    min-width: 450px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    box-shadow: 0px 0px 10px #00000098;
    
}
aside{
    background-color: #fff;
    min-width: 450px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 10px 10px #00000098;
}
aside > article{
    text-align: justify;
    background-color: #8da9eb;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}
li{
    margin-left: 20px;
}
ul{
    columns: 2;
}
img{
    width: 100%;
}
footer{
    background-color: #004cfc;
    text-align: center;
    margin-top: 20px;
}
.header:hover{
    background-color: #8da9eb;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
}
p{
    text-indent: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.video{
    background-color: #004cfc;
    margin: 0px -20px 30px -20px;
    padding-bottom: 50%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}